

<ion-content>

  <!-- <ion-list-header>Rendeavour</ion-list-header> -->

  <ion-row>
    <ion-label class="title">Rendezvous</ion-label>
  </ion-row>

  <ion-list-header>Meetup Location</ion-list-header>

  <agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false">

  <agm-marker 
      [latitude]="lat"
      [longitude]="lng"
      [label]=""
      [markerDraggable]="false">
    <agm-info-window>
      <strong>Meet-up here</strong>
    </agm-info-window>
  </agm-marker>

  </agm-map>

  <ion-list-header class="contact-info-header">Contact Info</ion-list-header>

  <ion-row>
    <ion-label class="username-text">{{displayName(this.invitation)}}</ion-label>
  </ion-row>

  <ion-row>
    <ion-label class="meet-date">{{this.ivtProvider.readableDate(this.invitation.start)}}</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="meet-time">{{this.ivtProvider.readableHour(this.invitation.start, this.invitation.end)}}</ion-label>
  </ion-row>

  <ion-row>
    <ion-button 
    *ngIf="showAcceptButton" 
    class="trans-button" 
    style="color: #633ce0;" 
    (click)="acceptInvitation(this.invitation.invitationId)">
    Accept Invitation
  </ion-button>
  </ion-row>

  <ion-row>
      <ion-button 
      *ngIf="showDeclineButton" 
      class="trans-button" 
      style="color: #d33939; margin-bottom: 10px;" 
      (click)="declineInvitation(this.invitation.invitationId)">
      Decline Invitation
    </ion-button>
  </ion-row>

  <ion-row>
    <ion-button 
    *ngIf="showCancelButton" 
    class="trans-button" 
    style="color: #d33939; margin-bottom: 10px;" 
    (click)="cancelInvitation(this.invitation.invitationId)">
    Break Appointment
  </ion-button>
  </ion-row>

</ion-content>

