

agm-map {
    height: 200px;
    // width: 100px;
}

.title {
    font-size: 25px;
    font-weight: 800;
    // font-family: 'Montserrat', sans-serif;
    // font-family: 'Dosis', sans-serif;
    margin-left: 16px;
    margin-top: 12px;
}

.restaurant {
    margin-left: 5%;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: Apple Chancery, cursive;
}

.subtext {
    margin-left: 16px;
    margin-bottom: 2px;
    font-size: 13px;
    color: #383a3e;
    font-weight: 300;
}

.contact-info-header {
    min-height: 10px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.username-text {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 16px;
    
    font-size: 19px;
    font-weight: 500;
    color: #1e2023;
}

.trans-button {
    text-align: center;
    border-color: transparent;
    --background: transparent;
    --background-activated: transparent; 
    box-shadow: none;
    
    height: 36px;
    width: 80%;
    display: block;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    font-size: 16px;
    font-weight: 400;
}
