

<ion-content>

  <ion-row>
    <ion-avatar class="userphoto">
      <img [src]="userinfoService.getUserAvatar(this.targetId)">
    </ion-avatar>
  </ion-row>

  <ion-row>
    <ion-label class="username">{{this.targetUsr.username}}</ion-label>
  </ion-row>

  <ion-row>
    <ion-label class="sublabel">{{this.targetUsr.college}} | {{this.targetUsr.major}} </ion-label>
  </ion-row>

  <ion-row>
    <ion-label class="description">{{this.targetUsr.description}}</ion-label>
  </ion-row>

</ion-content>

