

<ion-content padding no-bounce>
  <ion-grid no-padding>

    <ion-col align-items-center align-items-stretch>

      <form padding>

        <!-- Message -->
        <ion-col col-12>
            <h1> <strong>Welcome back</strong> please login to your account</h1>
        </ion-col>

        <!-- Input Field -->
        <ion-row>
          <ion-col col-12>
            <div input-field>
              <ion-item no-padding>
                  <ion-input text-center type="email" placeholder="  Email"></ion-input>
              </ion-item>
              <ion-item no-padding>
                  <ion-input text-center type="password" placeholder="  Password"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <!-- Buttons -->
        <ion-col col-12 no-padding>
          <ion-button full (click)="login()">LOGIN</ion-button>
        </ion-col>

        <ion-row align-items-center align-items-stretch>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons">Forgot password?</ion-button>
          </ion-col>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons">Don't have an account?</ion-button>
          </ion-col>
        </ion-row>


        <!-- Others
        <div description text-center>
          <ion-col col-12 no-padding no-margin>
            <p no-margin no-padding>Forgot Password? <a> Click to reset </a> </p>
          </ion-col>
          <ion-col col-12padding>
            <p no-margin no-padding> Don't have an account?  <a> Create one now </a> </p>
          </ion-col>
        </div> -->

      </form>
    </ion-col>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-row class="foot-row">
    <ion-col size="5.3">
      <div text-center>
          <img logo float-right src="../../assets/img/yale-logo3.png" width="12%" />
      </div>
    </ion-col>
    <ion-col size="6.7">
      <div text-center float-left>
          <div class="footnote-header">Meal Date</div>
          <div class="footnote-subheader">v1.3.0 dev beta</div>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>