

<ion-content padding no-bounce>
  <ion-grid no-padding>
    <ion-col align-items-center align-items-stretch>
      <form padding>

        <!-- Message -->
        <ion-col col-12>
            <h1> <strong>Welcome back</strong> please login to your account</h1>
        </ion-col>

        <!-- Input Field -->
        <ion-row>
          <ion-col col-12>
            <div input-field>
              <ion-item no-padding>
                  <ion-input text-center #usr type="text" placeholder="  Username"></ion-input>
              </ion-item>
              <ion-item no-padding>
                  <ion-input text-center #pswd type="password" placeholder="  Password"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <!-- Buttons -->
        <!-- <div> -->
        <div class="termdiv" [innerHTML]="termTexts"></div>
        <ion-col col-12 no-padding>
          <ion-button full (click)="login(usr.value, pswd.value)" >{{mainButtonText}}</ion-button>
        </ion-col>
        <!-- </div> -->

        <ion-row align-items-center align-items-stretch>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons" (click)="pswReset()">Forgot password?</ion-button>
          </ion-col>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons" (click)="register()" float-right>{{createAccountText}}</ion-button>
          </ion-col>
        </ion-row>
        
      </form>
    </ion-col>
  </ion-grid>

  <div class="sub-texts">OR</div>
  <button class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()">Login with Facebook</button>
  <!-- <button class="loginBtn loginBtn--google">Login with Google</button> -->


</ion-content>

<ion-footer>

  <ion-row class="foot-row">
    <ion-col>
      <div text-center>
          <!-- <div class="footnote-header">MealDate</div> -->
          <div class="footnote-subheader">v1.5.0 beta</div>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>
