
<ion-content padding no-bounce>
  <ion-grid no-padding>
    <ion-col align-items-center align-items-stretch>
      <form padding>

        <!-- Message -->
        <div class="animated fadeInDown">
        <ion-col col-12 >
            <h1 style="margin-bottom:0;"> <strong>Welcome back</strong> please login to your account</h1>
        </ion-col>
      </div>

        <!-- Input Field -->
        <ion-row>
          <ion-col col-12>
            <div input-field class="animated fadeInDown input-box">
              <ion-item no-padding>
                  <ion-input text-center #usr type="text" [placeholder]="inputPlaceholder"></ion-input>
              </ion-item>
              <ion-item no-padding>
                  <ion-input text-center #pswd type="password" placeholder="  Password"></ion-input>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>

        <!-- Buttons -->
        <!-- <div> -->
        <div class="termdiv" [innerHTML]="termTexts"></div>
        <div class="animated fadeInUp ani-buttons">
        <ion-col col-12 no-padding >
          <ion-button full (click)="mainButton(usr.value, pswd.value)" >{{mainButtonText}}</ion-button>
        </ion-col>
        <!-- </div> -->

        <ion-row align-items-center align-items-stretch>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons" (click)="pswReset()">Forgot password?</ion-button>
          </ion-col>
          <ion-col col-12 no-padding>
            <ion-button class="sub-buttons" (click)="switchLoginRegister()" float-right>{{createAccountText}}</ion-button>
          </ion-col>
        </ion-row>
        </div>

      </form>
    </ion-col>
  </ion-grid>

  <div class="animated fadeInUp ani-fb-buttons">
  <div class="sub-texts">OR</div>
  <button class="loginBtn loginBtn--facebook" (click)="loginWithFacebook()">Login with Facebook</button>
  </div>

  <!-- <button class="loginBtn loginBtn--google">Login with Google</button> -->

</ion-content>

<ion-footer>

  <!-- <ion-item lines="none">
    <ion-button class="test-button" (click)="test()">Test</ion-button>
  </ion-item> -->

  <ion-row class="foot-row">
    <ion-col>
      <div text-center>
          <div class="footnote-subheader">v1.1.0</div>
      </div>
    </ion-col>
  </ion-row>
</ion-footer>
