<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: 400">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>  
      <ion-grid>
        <ion-row>
          <ion-col size="4" align-items-center>
            <ion-avatar class="userphoto">
              <img src="../../assets/img/avatar.png">
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-input class="username" value="Gandalf the Grey"></ion-input>
          </ion-col>
        </ion-row>
        <ion-textarea row="3" class="description" value="shortly describe yourself..."></ion-textarea>
    </ion-grid>
  </ion-card>

  <ion-card>
      <ion-item lines="none">
        <ion-icon name="checkmark" slot="start"></ion-icon>
        <ion-label>I'm available</ion-label>
        <ion-toggle color="light" checked></ion-toggle>
      </ion-item>
      <ion-card-content class="sub-content">
          By selecting this, you agree to show your infomation to others and you can receive invitations.
      </ion-card-content>
    </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Share my location</ion-label>
      <ion-toggle color="light" checked></ion-toggle>
    </ion-item>

    <ion-card-content class="sub-content">
        Your exact location (as distance to others) will be shown if this toggle is on.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header class="profile-header">
      <ion-card-subtitle>Additional Profile</ion-card-subtitle>
    </ion-card-header>
    
    <ion-item lines="none">
      <ion-label class="sub-label">Gender</ion-label>
      <ion-select class="customSelect" slot="end" interface="popover">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="sub-label">College</ion-label>
      <ion-input class="sub-input" slot="end" placeholder="e.g. Berkely"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="sub-label">Major</ion-label>
      <ion-input class="sub-input" slot="end" placeholder="e.g. Computer Science"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="sub-label">Email</ion-label>
      <ion-input class="sub-input" slot="end" placeholder="example@yale.edu"></ion-input>
    </ion-item>

  </ion-card>

  <ion-button class="save-button" color="light">SAVE</ion-button>
  <ion-button class="logout-button" (onclick)="logout()">Logout my account</ion-button>


</ion-content>


