<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeelDate.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1559E92D6A1B7CBBBC4A40362D0D19D95A5ECCFF</string>
				<key>dateExpires</key>
				<string>4/7/20</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7L646XK29Z.io.ionic.yalemealdate</string>
				<key>com.apple.developer.team-identifier</key>
				<string>7L646XK29Z</string>
				<key>keychain-access-groups</key>
				<array>
					<string>7L646XK29Z.io.ionic.yalemealdate</string>
				</array>
			</dict>
			<key>name</key>
			<string>MeelDate.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7L646XK29Z</string>
				<key>name</key>
				<string>JINGKUAN ZHANG</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
