<ion-header>
  <ion-toolbar style="--opacity: 0.9;">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-weight: 400">Recommendations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item lines="none" *ngFor="let ruser of recommendedUsers">
      
      <ion-card class="listCards ion-activatable" (click)="cardSelected(ruser, $event)">  
        <ion-ripple-effect></ion-ripple-effect>
        <ion-row class="mainrow">

          <ion-col size="4" align-items-center>
            <ion-avatar class="userphoto">
              <img src="../../assets/img/avatar.png">
            </ion-avatar>
          </ion-col>

          <ion-col size="6">
            <ion-row>
              <ion-label class="username">{{ruser.username}}</ion-label>
            </ion-row>
            <ion-row>
                <ion-label class="subtext">{{ruser.major}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label class="subtext">{{ruser.college}}</ion-label>
            </ion-row>
          </ion-col>

          <ion-col size="2" align-items-center>
            <ion-row style="margin-top:10px;">
              <ion-icon name="pin" class="distanceIcon"></ion-icon>
            </ion-row>
            <ion-row>
              <ion-label class="distanceText">200 ft</ion-label>
            </ion-row>
          </ion-col>
        </ion-row>
      
      <ion-row>
        <ion-label text-wrap class="description">{{ruser.description}}</ion-label>
      </ion-row>

      </ion-card>

    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadData($event)" threshold="100px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

